@import url('https://fonts.googleapis.com/css?family=Anton');

#container {
    background-image: url("../img/Field.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 627px;
    font-family: 'Notable', sans-serif;
    z-index: 0;
}

#weblogo {
    z-index: 9999;
}

div.field>div,
button {
    margin: 5px 5px;
}

#player {
    padding-top: 15px;
}