#container {
    background-image: url("../img/Field.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 627px;
}

div.field>div,
button {
    margin: 5px 5px;
}

#player {
    padding-top: 15px;
}